@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {

  /* Primary Colours */

  --clr-primary-violet: hsl(263, 55%, 52%);
  --clr-primary-blue-700: hsl(217, 19%, 35%);
  --clr-primary-blue-900: hsl(219, 29%, 14%);
  --clr-primary-white: hsl(0, 0%, 100%);

  /* Neutral Colours */

  --clr-neutral-gray: hsl(0, 0%, 81%);
  --clr-neutral-gray-blue: hsl(210, 46%, 95%);

  /* Fonts */

  --ff-main: 'Barlow Semi Condensed', sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--clr-neutral-gray-blue);
  font-family: var(--ff-main);
  font-size: 13px;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.card {
  border-radius: 9px;
  padding: 2rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


/* PROFILE */

.profile {
  padding-bottom: 1.5rem;
  display: flex;
}

.profile__image {
  border-radius: 50%;
  height: 2.7rem;
}

.image-violet {
  border: 3px solid hsl(263, 56%, 70%);
}

.profile-light {
  color: var(--clr-primary-white);
}

.profile-dark {
  color: var(--clr-primary-blue-700);
}

.profile__details {
  padding-left: 1.2rem;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: .25rem;
}

.name-dark {
  color: var(--clr-primary-blue-700);
}

.graduate {
  opacity: .5;
}

/* REVIEW */

.review-light {
  color: var(--clr-primary-white);
}

.review-dark {
  color: var(--clr-primary-blue-700);
}

.review__highlight {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.review__body {
  font-size: 1rem;;
  opacity: .5;
  line-height: 1.4;
  padding-bottom: .5rem;
}

/* CARD BACKGROUNDS */

.violet {
  background: url("images/bg-pattern-quotation.svg") 85% 12% no-repeat;
  background-color: var(--clr-primary-violet);
}

.gray {
  background: var(--clr-primary-blue-700);
}

.dark {
  background: var(--clr-primary-blue-900);
}

.white {
  background: var(--clr-primary-white);
}

.card-dark {
  background: var(--clr-primary-blue-900);
}

@media only screen and (min-width: 1000px) {

  .container {
    max-width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "violet violet gray tall"
                          "white dark dark tall";
  }

  .violet {
    grid-area: violet;
  }

  .gray {
    grid-area: gray;
  }

  .card-tall {
    grid-area: tall;
  }

  .card-white {
    grid-area: white;
  }

  .card-dark {
    grid-area: dark;
  }

}

@media only screen and (min-width: 1250px) {
  
  .container {
    max-width: 80%;
  }
}